<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav>
      <a href="/products">Products</a>
      <a href="/categories">Categories</a>
    </nav>

    <h1><%= title %></h1>
    <p>.................Home epage</p>
  </body>
</html>
